<h1>Happy little about page</h1>
<p>Find me in app/views/abouts/show.html.erb</p>

<p>Just go out and talk to a tree. Make friends with it. Very easy to work these to death. Trees live in your fan brush, but you have to scare them out.</p>

<p>It's beautiful - and we haven't even done anything to it yet. That's a crooked tree. We'll send him to Washington. Brown is such a nice color.</p>

<p>A thin paint will stick to a thick paint. A little happy sunlight shining through there. See there, told you that would be easy. Let's get crazy. I thought today we would make a happy little stream that's just running through the woods here. Those great big fluffy clouds.</p>

<p>All you need is a dream in your heart, and an almighty knife. There are no mistakes. You can fix anything that happens. Isn't that fantastic that you can make whole mountains in minutes? So often we avoid running water, and running water is a lot of fun.</p>

<p>Without washing the brush, I'm gonna go right into some Van Dyke Brown, some Burnt Umber, and a little bit of Sap Green. We wash our brush with odorless thinner. Put it in, leave it alone.</p>

<p>Little trees and bushes grow however makes them happy. Let's have a nice tree right here. The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it. Of course he's a happy little stone, cause we don't have any other kind. The only prerequisite is that it makes you happy. If it makes you happy then it's good. Let's put some happy trees and bushes back in here.</p>

<p>We need a shadow side and a highlight side. You have to allow the paint to break to make it beautiful. We'll make some happy little bushes here.</p>